<!DOCTYPE html>
<html>
<head>
	<title>About us</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>
<body>
	<header>
		<a href="../../index.html">Home</a>
		<a href="aboutUs.html">About Us</a>
		<a href="contact.html">Contact</a>
	</header>
	<main>
		<section class="aboutUs">
		<p class="bs-30 txt">Šiandien „Grigeo Klaipėda“ patvirtino, kad pirminiai jau vakar pradėto vidinio tyrimo duomenys rodo, jog bendrovei kyla teisinė atsakomybė dėl žalos aplinkai, išleidžiant nuotekas į kanalą, vedantį į Kuršių marias. Bendrovė nušalino nuo pareigų atsakingus darbuotojus ir sieks, kad žala būtų atlyginta kaip įmanoma greičiau, veiksmingai bendraujant ir bendradarbiaujant su teisėsaugos ir atsakingomis valstybinio valdymo institucijomis.</p>
		<img class="bs-30" src="../../assets/images/grigeo.jpg">
		</section>
	</main>
</body>
</html>