<!DOCTYPE html>
<html>
<head>
	<title>contact</title>
	<link rel="stylesheet" type="text/css" href="../../assets/css/normalize.css">
	<link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
</head>
<body>
	<header>
		<a href="../../index.html">Home</a>
		<a href="aboutUs.html">About Us</a>
		<a href="contact.html">Contact</a>
	</header>
		<main>
			<section class="aboutUs">
				<p class="txt1">Our Manager is always ready to answer</p>
				<img src="../../assets/images/avatar.png">
			</section>
		</main>

</body>
</html>